<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Groovy</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container-fluid">
            <div class="panel panel-default">

                <div class="panel-heading">
                    <span class="lead">Groovy</span>
                </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-md-12">
                            Hello World
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>